<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.dao.UserDao">

    <insert id="addUser" parameterType="User">
        insert into user(username, password)  values(#{username}, #{password});
    </insert>

    <select id="findUserByUsername" parameterType="String" resultType="User">
        select * from db.user
        where username = #{username}
    </select>

    <insert id="addBindingUser" parameterType="String">
        insert into binding(username, binding_username)
        values (#{arg0}, #{arg1})
    </insert>

    <select id="findBinding" resultType="Binding">
        select * from binding
        where username = #{arg0} and binding_username = #{arg1}
    </select>
</mapper>